body,p,pre,form,input,h1,h2,h3,h4,h5,h6,ul,li,ol,dl,dd,dt{
	margin:0;
	padding:0;
	list-style:none;
	font-style: normal;
    font-weight: normal;
    font-family: "\5FAE\8F6F\96C5\9ED1",tahoma;
}
ul,li,ol,dl,dd,dt{
	margin:0;
	padding:0;
	list-style:none;
}
a{
	text-decoration: none;
	color: #333;
}
img{
	border:0;
	vertical-align: middle;
}
*{
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.over{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.overmore{
    text-overflow:ellipsis; 
    overflow:hidden;
    display:-webkit-box; 
    -webkit-line-clamp:3; 
    -webkit-box-orient: vertical;
}
body,html{
	height: 100%;
}
body{
	box-orient: vertical;
    background:#F4F4F4;
}
.center-section{
	flex:auto;
	overflow: auto;
} 

/*滚动条 start*/  
::-webkit-scrollbar {  
    width: 6px;  
    height:6px;
/*background-color: #F5F5F5;  */
    background-color: #0C7BB2;  
}  
::-webkit-scrollbar-track {  
    background: #fff ;  
}  
::-webkit-scrollbar-thumb {  
    border-radius: 3px;  
    background-color:rgba(12, 123, 178, 0.7);  
}  
::-webkit-scrollbar-thumb:hover {  
    border-radius: 3px;  
    background-color:rgba(12, 123, 178, 1);  
}  
